<style>
    @font-face {
      font-family: 'MapleMono2';
      src: url('{{ (resources.Get "font/MapleMono.ttf").Permalink }}') format('truetype');
    }
  
    :root {
      --base-font-family: 'MapleMono2';
      --code-font-family: 'MapleMono2';
    }
  </style>
<script src="https://npm.elemecdn.com/nprogress@0.2.0/nprogress.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://npm.elemecdn.com/nprogress@0.2.0/nprogress.css" crossorigin="anonymous" />
<script>
    NProgress.start();
    document.addEventListener("readystatechange", () => {
        if (document.readyState === "interactive") NProgress.inc(0.8);
        if (document.readyState === "complete") NProgress.done();
    });
</script>
